.topnav 
{
    overflow: hidden;
    background-color: rgb(65, 70, 92);
    font-family: Poppins;
    padding: 5px;
    margin-top: -11px;
    border-radius: 5px;
}
.topnav img{
    float: left;
    padding-right: 20px;
    padding-top: 8px;
}
  .topnav a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
  .topnav a:hover 
{
    background-color: #ddd;
    color: black;
}
  
  .topnav .search-container 
{
    float: right;
}
  
  .topnav input[type=text] 
{
    padding: 10px;
    margin-top: 3.5px;
    font-size: 20px;
    border: none;
    background-color: black;
    color: white;
}
  
  .topnav .search-container button 
{
    float: right;
    padding: 11px 16px; 
    margin-top: 6px;
    height: 100%;
    width: 50px;
    background: rgb(223, 17, 17);
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    
    
}
.topnav .search-container button:hover 
{
    background: #ccc;
}
.topnav .form{
    border: solid 2px black;
    display: inline-block;
    float: none;
} 
@media screen and (max-width: 750px) {
    .topnav .search-container, 
    .topnav a,.topnav .img {float: none;}
  }

div.container{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgba(146, 204, 182, 0.09);
    width: 25%;
    height: 75%;
    margin: auto;
    padding: 1px 25px 1px 25px;
}

fieldset{
    border-style: solid;
    border-color: rgb(32, 219, 42);
    border-width: 2.5px;
}
.sign{
    border-style: none;
    text-align: center;
    width: 100%;
    background-color: rgb(80, 209, 97);
    border-radius: 5px;
}
#button{
    height: 45px;
    color: white;
}
#h2{
    border-radius: 15px;
}
#input{
    width: 100%;
    height: 35px;
    background-color: rgba(216, 216, 216,0.5);
    border-style: none;
}
#bio{
    background-color: rgba(216, 216, 216,0.5);
    height: 40px;
}